<!-- Section - Our solutions -->
<section
  class="d-xl-flex h-100 pageData"
  data-anchor="our-solutions"
  data-tooltip="Our solutions"
  data-ui="light"
  data-navbar="navbar-dark"
>
  <div class="overlay overlay-advanced">
    <div class="overlay-inner bg-image-holder bg-cover">
      <img
        src="https://source.unsplash.com/1920x1280/?software"
        alt="background"
      />
    </div>
    <div class="overlay-inner bg-dark opacity-50"></div>
  </div>
  <div class="container align-self-xl-center text-white">
    <div class="row mb-8">
      <div class="col-12 col-xl-6">
        <h2 class="mb-4 animated" data-animation="fadeInUp">
          A complete marketing solution
        </h2>
        <p
          class="animated"
          data-animation="fadeInUp"
          data-animation-delay="150"
        >
          Mauris ut sem elementum, tristique velit sed, volutpat mauris. Ut
          interdum nibh sit amet imperdiet condimentum. Nulla sed tellus
          placerat, vehicula risus ac, sollicitudin quam. Quisque pharetra porta
          libero, a sagittis nisl tristique non.
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 col-lg-6 mb-8 animated"
        data-animation="fadeInUp"
        data-animation-delay="150"
      >
        <h4>We are</h4>
        <p class="mb-0">
          Quisque ultrices non velit sit amet consectetur. Cras turpis dolor,
          facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu
          sed ligula malesuada, quis condimentum eros sollicitudin. Morbi eget
          lorem turpis. Maecenas id metus sapien. Aliquam et est turpis. Sed sit
          amet dui vel sapien sagittis pellentesque nec id sem.
        </p>
      </div>

      <div
        class="col-12 col-lg-6 mb-8 animated"
        data-animation="fadeInUp"
        data-animation-delay="300"
      >
        <h4>We practice</h4>
        <p class="mb-0">
          Quisque ultrices non velit sit amet consectetur. Cras turpis dolor,
          facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu
          sed ligula malesuada, quis condimentum eros sollicitudin. Morbi eget
          lorem turpis. Maecenas id metus sapien. Aliquam et est turpis. Sed sit
          amet dui vel sapien sagittis pellentesque nec id sem.
        </p>
      </div>

      <div
        class="col-12 col-lg-6 mb-8 mb-lg-0 animated"
        data-animation="fadeInUp"
        data-animation-delay="450"
      >
        <h4>We deliver</h4>
        <p class="mb-0">
          Quisque ultrices non velit sit amet consectetur. Cras turpis dolor,
          facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu
          sed ligula malesuada, quis condimentum eros sollicitudin. Morbi eget
          lorem turpis. Maecenas id metus sapien. Aliquam et est turpis. Sed sit
          amet dui vel sapien sagittis pellentesque nec id sem.
        </p>
      </div>

      <div
        class="col-12 col-lg-6 animated"
        data-animation="fadeInUp"
        data-animation-delay="600"
      >
        <h4>We create and innovate</h4>
        <p class="mb-0">
          Quisque ultrices non velit sit amet consectetur. Cras turpis dolor,
          facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu
          sed ligula malesuada, quis condimentum eros sollicitudin. Morbi eget
          lorem turpis. Maecenas id metus sapien. Aliquam et est turpis. Sed sit
          amet dui vel sapien sagittis pellentesque nec id sem.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Section - Our work -->
