<section
  class="d-xl-flex h-100 pageData"
  data-anchor="our-work"
  data-tooltip="Our work"
  data-ui="dark"
  data-navbar="navbar-light"
>
  <div class="container align-self-xl-center">
    <div class="row mb-8">
      <div class="col-12 col-xl-6">
        <h2 class="mb-4 animated" data-animation="fadeInUp">Our Work</h2>
        <p
          class="animated"
          data-animation="fadeInUp"
          data-animation-delay="150"
        >
          Donec sollicitudin libero vitae massa placerat tempor. Duis rutrum
          nisl eu ipsum varius, nec feugiat tortor vulputate. Integer
          pellentesque leo id metus dictum, a tristique tellus faucibus.
        </p>
      </div>
    </div>
    <div
      class="slider animated"
      data-animation="fadeInUp"
      data-animation-delay="300"
      data-slick='{"dots": true}'
    >
      <div>
        <div class="portfolio-item mb-8">
          <div class="row">
            <div class="col-12 col-lg-7 mb-4 mb-lg-0">
              <div class="item-media">
                <a
                  href="assets/images/portfolio/project-6.jpg"
                  class="mfp-image"
                >
                  <div class="media-container">
                    <div class="bg-image-holder bg-cover">
                      <img
                        src="assets/images/portfolio/project-6-min.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-5">
              <div class="pt-lg-8">
                <div
                  class="divider divider-alt bg-dark mt-0 mb-8 d-none d-lg-block"
                ></div>
                <h4 class="h3 item-title">Mountains</h4>
                <p class="item-cat">Web Design</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="portfolio-item mb-8">
          <div class="row flex-lg-row-reverse">
            <div class="col-12 col-lg-7 mb-4 mb-lg-0">
              <div class="item-media">
                <a
                  href="assets/images/portfolio/project-1.jpg"
                  class="mfp-image"
                >
                  <div class="media-container">
                    <div class="bg-image-holder bg-cover">
                      <img
                        src="assets/images/portfolio/project-1-min.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div
              class="col-12 col-lg-5 d-lg-flex justify-content-lg-end text-lg-right"
            >
              <div class="pt-lg-8">
                <div
                  class="divider divider-alt bg-dark mt-0 mb-8 ml-auto mr-0 d-none d-lg-block"
                ></div>
                <h4 class="h3 item-title">Love</h4>
                <p class="item-cat">Web Design</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="portfolio-item mb-8">
          <div class="row">
            <div class="col-12 col-lg-7 mb-4 mb-lg-0">
              <div class="item-media">
                <a
                  href="assets/images/portfolio/project-2.jpg"
                  class="mfp-image"
                >
                  <div class="media-container">
                    <div class="bg-image-holder bg-cover">
                      <img
                        src="assets/images/portfolio/project-2-min.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-5">
              <div class="pt-lg-8">
                <div
                  class="divider divider-alt bg-dark mt-0 mb-8 d-none d-lg-block"
                ></div>
                <h4 class="h3 item-title">Beautiful Girl</h4>
                <p class="item-cat">Brand</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="portfolio-item mb-8">
          <div class="row flex-lg-row-reverse">
            <div class="col-12 col-lg-7 mb-4 mb-lg-0">
              <div class="item-media">
                <a
                  href="assets/images/portfolio/project-3.jpg"
                  class="mfp-image"
                >
                  <div class="media-container">
                    <div class="bg-image-holder bg-cover">
                      <img
                        src="assets/images/portfolio/project-3-min.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div
              class="col-12 col-lg-5 d-lg-flex justify-content-lg-end text-lg-right"
            >
              <div class="pt-lg-8">
                <div
                  class="divider divider-alt bg-dark mt-0 mb-8 ml-auto mr-0 d-none d-lg-block"
                ></div>
                <h4 class="h3 item-title">Future City</h4>
                <p class="item-cat">Web Design</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="portfolio-item">
          <div class="row">
            <div class="col-12 col-lg-7 mb-4 mb-lg-0">
              <div class="item-media">
                <a
                  href="assets/images/portfolio/project-4.jpg"
                  class="mfp-image"
                >
                  <div class="media-container">
                    <div class="bg-image-holder bg-cover">
                      <img
                        src="assets/images/portfolio/project-4-min.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-5">
              <div class="pt-lg-8">
                <div
                  class="divider divider-alt bg-dark mt-0 mb-8 d-none d-lg-block"
                ></div>
                <h4 class="h3 item-title">Golden Gate Bridge</h4>
                <p class="item-cat">Design</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
