<!-- Back To Top Button -->
<a href="#top" class="backtotop">
  <span>Back To Top</span>
  <i class="fas fa-angle-up"></i>
</a>

<!-- Scroll progress -->
<div class="scroll-progress">
  <div class="sp-left">
    <div class="sp-inner"></div>
    <div class="sp-inner progress"></div>
  </div>

  <div class="sp-right">
    <div class="sp-inner"></div>
    <div class="sp-inner progress"></div>
  </div>
</div>
<nav class="ln-social-icons">
  <ul class="mx-auto">
    <li>
      <a href="https://www.linkedin.com/company/a0solutions/" target="_blank"
        ><i class="fab fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a href="https://www.behance.net/a0solutions" target="_blank"
        ><i class="fab fa-behance"></i
      ></a>
    </li>
  </ul>
</nav>
<div id="top"></div>
<div class="ln-copyright text-right">
  <p>© 2023 Lana - All Rights Reserved - <a href="#!">Terms of Service</a></p>
</div>
