<!-- Section - Our Missions -->
<section
  class="d-xl-flex h-100 pageData"
  data-anchor="our-mission"
  data-tooltip="Our mission"
  data-ui="dark"
  data-navbar="navbar-light"
>
  <div class="container align-self-xl-center">
    <div class="row">
      <div class="col-12 col-xl-6">
        <h2
          class="mb-4 animated"
          data-animation="fadeInUp"
          data-animation-delay="150"
        >
          Our Mission
        </h2>
        <p
          class="animated"
          data-animation="fadeInUp"
          data-animation-delay="150"
        >
          En A0 Solutions, nuestra misión es permitir a las empresas en toda
          España lograr proyectos exitosos y de calidad. Consideramos de nuestra
          misión un compromiso con nuestros clientes. Entregamos en ese
          compromiso el esfuerzo de lograr que cada cliente pueda contar con A0
          Solutions como una extensión de su propia empresa a la hora de
          externalizar proyectos, actividades o tareas.
        </p>
      </div>
    </div>
  </div>
</section>
