<div class="layout-wide fp-viewing-home" style="overflow: hidden; height: 100%">
  <div class="loader bg-dark">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <app-nav></app-nav>
  <app-extras></app-extras>
  <div class="ln-fullpage" data-navigation="true">
    <app-home class="ln-section"></app-home>
    <app-mision class="ln-section"></app-mision>
    <app-services class="ln-section"></app-services>
    <app-about-us class="ln-section"></app-about-us>
    <app-projects class="ln-section"></app-projects>
    <app-contact class="ln-section"></app-contact>
  </div>
</div>
