<nav
  class="site-navbar site-navbar-transparent navbar navbar-expand-lg navbar-dark fixed-top bg-white shadow-light p-lg-4"
  data-navbar-base="navbar-dark"
  data-navbar-toggled="navbar-light"
  data-navbar-scrolled="navbar-light"
>
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo-light.png" class="navbar-brand-img" alt="" />
  </a>

  <!-- Toggler -->
  <button
    class="navbar-toggler-alternative"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-alternative-icon"></span>
  </button>

  <!-- Collapse -->
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <!-- Navigation -->
    <ul class="navbar-nav ml-auto" id="navigation">
      <li class="nav-item active" data-menuanchor="home">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item" data-menuanchor="our-mission">
        <a class="nav-link" href="#our-mission">Our mission</a>
      </li>
      <li class="nav-item" data-menuanchor="what-we-do">
        <a class="nav-link" href="#what-we-do">What we do</a>
      </li>
      <li class="nav-item" data-menuanchor="our-solutions">
        <a class="nav-link" href="#our-solutions">Our solutions</a>
      </li>
      <li class="nav-item" data-menuanchor="our-work">
        <a class="nav-link" href="#our-work">Our work</a>
      </li>
      <li class="nav-item" data-menuanchor="contact">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>

    <!-- Button -->
    <a
      type="button"
      class="btn btn-soft-white text-white d-block d-lg-none d-xl-inline-block mb-3 mb-lg-0 ml-lg-3 w-100 w-lg-auto"
    >
      Documentation
    </a>
  </div>
</nav>
