<section
  class="d-xl-flex bg-light h-100 pageData"
  data-anchor="what-we-do"
  data-tooltip="What we do"
  data-ui="dark"
  data-navbar="navbar-light"
>
  <div class="container align-self-xl-center">
    <div class="row">
      <div class="col-12 col-xl-5 mb-8 mb-xl-0">
        <h2 class="animated mb-4" data-animation="fadeInUp">What we Do</h2>
        <p
          class="animated"
          data-animation="fadeInUp"
          data-animation-delay="150"
        >
          <span
            >Fusce massa dolor, mattis sed ultrices ut, placerat ut leo. Donec
            sed fringilla lectus, non vulputate orci. Integer id libero euismod,
            interdum ligula vel, porttitor magna. Sed euismod maximus finibus.
            Pellentesque tempus ultricies nisi at cursus. Nulla at nisi tellus.
            Suspendisse potenti.</span
          >
        </p>
      </div>
      <div class="col-12 col-xl-6 offset-xl-1">
        <div class="row">
          <div
            class="col-md-6 col-sm-6 mb-8 animated"
            data-animation="fadeInUp"
          >
            <div class="icon-7x text-primary mb-4">
              <i class="ti-timer"></i>
            </div>
            <h3 class="h4 mb-0 wedo">Angular</h3>
            <ng-template>
              <p class="wedo--text">
                Identidad corporativa y manual de marca Diseño publicitario
                Diseño editorial Diseño audiovisual
              </p>
            </ng-template>
          </div>

          <div
            class="col-md-6 col-sm-6 mb-8 animated"
            data-animation="fadeInUp"
            data-animation-delay="450"
          >
            <div class="icon-7x text-primary mb-4">
              <i class="ti-layers"></i>
            </div>
            <h3 class="h4 mb-0">Firebase</h3>
          </div>

          <div
            class="col-md-6 col-sm-6 mb-8 mb-sm-0 animated"
            data-animation="fadeInUp"
            data-animation-delay="600"
          >
            <div class="icon-7x text-primary mb-4">
              <i class="ti-settings"></i>
            </div>
            <h3 class="h4 mb-0">Data management</h3>
          </div>

          <div
            class="col-md-6 col-sm-6 animated"
            data-animation="fadeInUp"
            data-animation-delay="750"
          >
            <div class="icon-7x text-primary mb-4">
              <i class="ti-headphone-alt"></i>
            </div>
            <h3 class="h4 mb-0">Friendly Support</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
