<section
  class="d-flex js-min-vh-100 pageData"
  data-anchor="home"
  data-tooltip="Home"
  data-ui="light"
  data-navbar="navbar-dark"
>
  <div class="overlay overlay-advanced">
    <div class="overlay-inner bg-image-holder bg-cover bg-bottom-center">
      <img
        src="https://source.unsplash.com/1920x1280/?concerts"
        alt="background"
      />
    </div>
    <div class="overlay-inner bg-dark opacity-70"></div>
  </div>
  <div class="container align-self-center text-white">
    <div class="row">
      <div class="col-12 col-lg-9 col-xl-6">
        <div class="wrapper">
          <h1 class="mb-4 animated" data-animation="fadeInUp" data-text></h1>
          <span class="item">Events and much more...</span>
          <span class="item">Experience Providers</span>
          <span class="item">We look deeper</span>
        </div>

        <p
          class="mb-7 animated"
          data-animation="fadeInUp"
          data-animation-delay="200"
        >
          Feriae is an events company focused on all types of corporate events
          in United States. Congresses, Conventions, Meeting, Team Buildings,
          Workshops and Showrooms.
        </p>
        <a
          href="#our-mission"
          class="btn btn-feriae-red mr-3 scrollto animated rounded-0"
          data-animation="fadeInUp"
          data-animation-delay="400"
          >Learn more</a
        >
        <!-- <button
          type="button"
          class="btn btn-soft-white scrollto animated rounded-0"
          data-animation="fadeInUp"
          data-animation-delay="600"
          data-toggle="modal"
          data-target="#subscribeModal"
        >
          Subscribe
        </button> -->
      </div>
    </div>
  </div>
</section>
